foot
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	div#end
		a.fa-stack.fa-lg(href="https://www.facebook.com/pg/revoltmex")
			i.fa.fa-circle.fa-stack-2x
			i.fa.fa-facebook.fa-stack-1x
		a.fa-stack.fa-lg(href="https://www.instagram.com/revoltmex/")
			i.fa.fa-circle.fa-stack-2x
			i.fa.fa-instagram.fa-stack-1x
		p &copy; Revolt 2017
		//Small icons
		//a.fa.fa-facebook(href="https://www.facebook.com/pg/revoltmex")
		//a.fa.fa-instagram(href="https://www.facebook.com/pg/revoltmex")
		//a.fa.fa-twitter(href="https://www.facebook.com/pg/revoltmex")
		//Colour icons
		//a.single.colour.fa.fa-facebook.fa-2x(href="https://www.facebook.com/pg/revoltmex")
		//a.single.colour.fa.fa-instagram.fa-2x(href="https://www.instagram.com/revoltmex/")
