head
	title Landing Page
	// Fonts CSS etc
	link(rel='stylesheet', href='/static/stylesheets/style.css', type='text/css')
	link(rel='stylesheet', href='/static/stylesheets/lightbox.css', type='text/css')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
