nav#mainNav
	div#standingLogo
		a(href= subR +"/")
			img(src="/static/images/profileSlim.png" alt="Revolt").profile
	div.flex-container#middleRow
		div.flex-item#inlineLogo
			a(href= subR +"/")
				img(src="/static/images/profileSlim.png" alt="Revolt").profile
		div.flex-item
			a(href= subR +'/blog') Blog
		div.flex-item
			a.page-scroll(href= subR +'/about') About
		div.flex-item
			a.page-scroll(href= subR + '/designers') Designers
		div.flex-item.shifters
			a.page-scroll(href= subR + '/portfolio') Portfolio
		div.flex-item.shifters
			a.page-scroll(href= subR + '/contact') Contact
	div.flex-container#bottomRow
		div.flex-item.shifters
			a.page-scroll(href= subR + '/portfolio') Portfolio
		div.flex-item.shifters
			a.page-scroll(href= subR + '/contact') Contact
