nav#mainNav
	div#standingLogo
		img(src="/staticRev/images/profile_150.png" alt="Revolt").profile
	div.flex-container#middleRow
		div.nav-flex-item#inlineLogo
			img(src="/staticRev/images/profile_150.png" alt="Revolt").profile
		div.nav-flex-item
			a(href= subR +'/') Home
		div.nav-flex-item
			a.page-scroll(href= subR +'/about') About
		div.nav-flex-item
			a.page-scroll(href= subR + '/designers') Designers
		div.nav-flex-item.shifters
			a.page-scroll(href= subR + '/products') Products
		div.nav-flex-item.shifters
			a.page-scroll(href= subR + '/contact') Contact
	div.flex-container#bottomRow
		div.nav-flex-item.shifters
			a.page-scroll(href= subR + '/products') Products
		div.nav-flex-item.shifters
			a.page-scroll(href= subR + '/contact') Contact
