nav#mainNav.navbar.navbar-default.navbar-fixed-top
	div.flex-container
		div.flex-item
			a(href="/")
				img(src="static/images/profileSlim.png" alt="Revolt").profile
		div.flex-item
			a(href='/blog') Blog
		div.flex-item
			a.page-scroll(href='about') About
		div.flex-item
			a.page-scroll(href='designers') Designers
		div.flex-item
			a.page-scroll(href='portfolio') Portfolio
		div.flex-item
			a.page-scroll(href='contact') Contact
div#navBuffer
