extends ./layout.pug

block content
  div.banner#first
    div#genialDiv.light
      iframe#genial(frameborder="0" src="https://www.genial.ly/View/Index/590dae04c10e1a35b432d8e3" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="no" allownetworking="all")
