extends ./layout.pug

block content
  div.normal
    h1 About
    p Bien dicen que en la vida no se puede controlar lo que pasa a tu alrededor, lo único que puedes controlar es como tu reaccionas ante las circunstancias. 
    p Revolt es la consecuencia de que un candidato que durante por meses baso su campaña en criticar a mi país, a mi gente, y prometiendo la construcción de un muro, haya ganado la presidencia. 
    p Estando tan lejos de mi país, sabía que tenía que hacer algo, y no sólo para ayudar a mi México sino también a uno de los países que mucho me ha dado. He vivido por más de dos años en Francia, he conocido su gente, su historia, sus valores y su forma de pensar, y ahora más que nunca soy consciente de la responsabilidad que tengo de demostrar que muchos extranjeros estamos acá para hacer un bien. 
    p Mi objetivo es simple: inspirar a la sociedad tanto francesa como mexicana a cambiar paradigmas y consumir moda siendo 100% responsable. 
    p He decidido emprender esta nueva aventura, porque sé que sólo a través de crear algo bajo mis propias convicciones es que voy a poder vivir mi pasión y demostrar que nuestro mundo, nuestras sociedades, nuestras relaciones no necesitan muros de ningún tipo, sino simplemente necesitamos dar más amor. 
