extends ./layout.pug

block content
  div.flex-container.normal#designers.dark
    div.des-flex-item
      div.linkHolder
        a(href="https://www.genuinamarket.com/")
          img(src="/staticRev/images/Des_GM_Logo.png" alt="Genuina Market")
    div.des-flex-item
      div.linkHolder
        a(href="https://mx.acapellastore.com/")
          img(src="/staticRev/images/Des_AC_Logo.jpg" alt="Acapella")
    div.des-flex-item.noBorder
      div.linkHolder
        a(href="https://www.bohetnika.com")
          img(src="/staticRev/images/Des_BO_Logo.png" alt="Bohetnika")
    div.des-flex-item
      div.linkHolder
        a(href="https://www.facebook.com/santegomx/")
          img(src="/staticRev/images/Des_SA_Logo.jpg" alt="Santego")
    div.des-flex-item
      div.linkHolder
        a(href="https://www.facebook.com/Lila-Torrero-Joyer%C3%ADa-438176519694711/")
          img(src="/staticRev/images/Des_LT_Logo.jpg" alt="Lila-Torrero")
    div.des-flex-item
      div.linkHolder
        a(href="http://www.carolinacrowley.com")
          img(src="/staticRev/images/Des_CC_Logo.jpg" alt="Carolina Crowley")
