extends ./layout.pug

block content
  div.normal.designer
    h1 Carolina Crowley
    img.designer(src="/staticRev/images/carolina crowley.jpg" alt="Carolina Crowley")
    p Lograr el éxito en un diseño de moda es asegurarse que siempre será diferente, que además de ser innovador, tendrá un ingrediente de elegancia que le permitirá otorgar un acento personal que lo distinga de los demás. Quien lo adquiera sentirá la confianza al saberlo.
    p El trabajo de Carolina Crowley como diseñadora es lograr una tendencia en cada bolso y de la misma forma, dar vida a un objeto bello con la más alta calidad y en el que el material se transforma y propone una moda, es elegante y vanguardista divertido y muy relajado.
    p Después de realizar estudios de diseño de modas en Barcelona, ( stylist, personal shopper, diseño de bolsos, calzado y mercadotecnia en moda) la exitosa diseñadora regresó a México e inició su empresa  Carolina Crowley de inmediato logró ganarse la confianza de sus seguidores como asesora  y analista de moda, catalogándose en poco tiempo como  “coolhunter” para sus clientes. Como diseñadora, en poco tiempo, inició una estrecha relación con artesanos mexicanos que la han llevado a conocer y valorar el trabajo artístico de cada uno de ellos aportando a cada bolso una calidad del más alto nivel. 
    p Valorando el trabajo de los artistas visuales emergentes, el más reciente proyecto de Carolina Crowley es el bolso intervenido con una obra de arte, pieza considerada de colección.
    p Carolina Crowley Collection ha sido invitada a   desfiles de moda a nivel internacional importantes, destaca su participación en  Mercedes Benz fashion week. Sus diseños han sido publicados en las revistas más prestigiadas de moda como VOGUE.

  div.normal.designer
    h1 Lila Torrero
    img.designer(src="/staticRev/images/lila torrero.jpg" alt="Lila Torrero")
    p Lila Torrero Joyería es una empresa que se fundó en el año 2009. Nuestra visión es hacer sentir a las personas más cerca de la brisa del mar y sentir la arena en sus pies. Realizamos joyería 100% mexicana. Nuestra joyería es realizada en laminado de oro, plata, chapa en oro y plata. Uno de los productos más importantes de Lila Torrero Joyería son los collares de concha con perla porque representan el lugar de origen que es Mazatlán, Sinaloa.
  div.normal.designer
    h1 Santego
    img.designer(src="/staticRev/images/santego.jpg" alt="Santego")
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla urna in libero mattis molestie. Praesent ut urna arcu. Donec ultricies dictum vehicula. Integer nec ante elit. Nam vel lectus purus. Cras vulputate ante nec suscipit viverra. Donec ac justo porttitor, convallis libero quis, malesuada turpis. Sed vitae eros fermentum, eleifend mauris quis, mollis lacus. Fusce elementum, odio in consequat sollicitudin, enim massa posuere sem, id iaculis eros ligula eget tellus. In id aliquet nibh. Mauris sodales neque nunc. Mauris sapien eros, eleifend in mauris vitae, sollicitudin consequat massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed pellentesque sem ac cursus feugiat. Sed eros mauris, lacinia in hendrerit sit amet, vehicula ut felis.
  div.normal.designer
    h1 Genuina Market
    img.designer(src="/staticRev/images/genuinaMarket.png" alt="Genuina Market")
    p Every piece created by an artisan tells a unique story that has been handed down from one generation to the other. When you shop at Genuina you contribute to the preservation of ancestral traditions; you are taking stories directly to your home and wardrobe.
    p We expertise in Mexican culture since is one of the richest and most colorful cultures in the world, plus it is also where our home and heart resides.
    p But we also have the pleasure to display artwork from artists worldwide and to showcase our collaborations with India, Turkey, Guatemala, Chile and many more magic places! We live for culture, color and tradition! 
    p We LOVE and celebrate all countries, colours and cultures.
    p By mixing and combining pieces from different places we celebrate the sacred and the beauty each place offers and we help on the conservation and diffusion of ancestral arts, holy rituals, processes and cultures that have been present for centuries!

  script(src='/staticRev/javascripts/designerFormat.js')
