extends ./layout.pug

block content
  section
    h1 Carolina Crowley
    img.designer(src="/static/images/carolina.jpg")
    p Lograr el éxito en un diseño de moda es asegurarse que siempre será diferente, que además de ser innovador, tendrá un ingrediente de elegancia que le permitirá otorgar un acento personal que lo distinga de los demás. Quien lo adquiera sentirá la confianza al saberlo.
    p El trabajo de Carolina Crowley como diseñadora es lograr una tendencia en cada bolso y de la misma forma, dar vida a un objeto bello con la más alta calidad y en el que el material se transforma y propone una moda, es elegante y vanguardista divertido y muy relajado.
    p Después de realizar estudios de diseño de modas en Barcelona, ( stylist, personal shopper, diseño de bolsos, calzado y mercadotecnia en moda) la exitosa diseñadora regresó a México e inició su empresa  Carolina Crowley de inmediato logró ganarse la confianza de sus seguidores como asesora  y analista de moda, catalogándose en poco tiempo como  “coolhunter” para sus clientes. Como diseñadora, en poco tiempo, inició una estrecha relación con artesanos mexicanos que la han llevado a conocer y valorar el trabajo artístico de cada uno de ellos aportando a cada bolso una calidad del más alto nivel. 
    p Valorando el trabajo de los artistas visuales emergentes, el más reciente proyecto de Carolina Crowley es el bolso intervenido con una obra de arte, pieza considerada de colección.
    p Carolina Crowley Collection ha sido invitada a   desfiles de moda a nivel internacional importantes, destaca su participación en  Mercedes Benz fashion week. Sus diseños han sido publicados en las revistas más prestigiadas de moda como VOGUE.
  section
    h1 Joe Blogs
    img.designer(src="/static/images/carolina.jpg")
    p Lograr el éxito en un diseño de moda es asegurarse que siempre será diferente, que además de ser innovador, tendrá un ingrediente de elegancia que le permitirá otorgar un acento personal que lo distinga de los demás. Quien lo adquiera sentirá la confianza al saberlo.
    p El trabajo de Carolina Crowley como diseñadora es lograr una tendencia en cada bolso y de la misma forma, dar vida a un objeto bello con la más alta calidad y en el que el material se transforma y propone una moda, es elegante y vanguardista divertido y muy relajado.
    p Después de realizar estudios de diseño de modas en Barcelona, ( stylist, personal shopper, diseño de bolsos, calzado y mercadotecnia en moda) la exitosa diseñadora regresó a México e inició su empresa  Carolina Crowley de inmediato logró ganarse la confianza de sus seguidores como asesora  y analista de moda, catalogándose en poco tiempo como  “coolhunter” para sus clientes. Como diseñadora, en poco tiempo, inició una estrecha relación con artesanos mexicanos que la han llevado a conocer y valorar el trabajo artístico de cada uno de ellos aportando a cada bolso una calidad del más alto nivel. 
    p Valorando el trabajo de los artistas visuales emergentes, el más reciente proyecto de Carolina Crowley es el bolso intervenido con una obra de arte, pieza considerada de colección.
    p Carolina Crowley Collection ha sido invitada a   desfiles de moda a nivel internacional importantes, destaca su participación en  Mercedes Benz fashion week. Sus diseños han sido publicados en las revistas más prestigiadas de moda como VOGUE.
