doctype html
html(lang="en")
		include ./partials/_head.pug
		
		body#page-top
			include ./partials/_nav.pug
			block content


			// Include javascript
			script(src='/static/javascripts/lightbox.js')
		include ./partials/_foot.pug
