@media screen and (min-width: 480px) {
  #bottomRow {
    display: none;
    height: 0px;
  }
  #middleRow .shifters{
    display: block;
  }

  div.normal {
    text-align: left;
  }

  .des-flex-item {
    width: 28%;
  }

  #BO {
    order: 1;
  }
  #SA {
    order: 2;
  }
  #GM {
    order: 3;
  }
  #CC {
    order: 4;
  }
  #LT {
    order: 5;
  }
  #AC {
    order: 6;
  }

}

@media screen and (min-width: 660px) {
  /* Two rows: Title and buttons */
  nav {
    position: fixed;
    top: 0;
    height: 140px;
  }

  div.normal:first-of-type, div#first {
    margin-top: 140px;
  }

  .con-flex-item#contz {
    width: 300px;
  }
  .con-flex-item#map{
    flex: 1.5;
  }
}

@media screen and (min-width: 700px) {
  /* One row: Title inline with buttons */
  #standingLogo {
    height: 0px;
  }
  #standingLogo img {
    display: none;
  }
  #inlineLogo {
    display: block;
    text-align: center;
    min-width: 200px;
  }
  #inlineLogo img {
    display: inline;
    margin: auto;
    height: 60px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  nav {
    height: 70px;
  }

  #mainNav.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: start;
    justify-content: start;
    flex-wrap: nowrap;
  }

  div.normal:first-of-type, div#first {
    margin-top: 70px;
  }

  #contact.flex-container {
      padding: 20px 5%;
      width: 90%;
  }

  .con-flex-item#contz {
    margin-right: 5%;
  }
  .con-flex-item#map{
    max-width: 600px;
  }
}
