body {
  background-color: #000000;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height: auto;
  color: #d0d0d0;
  overflow: auto;
}

/* *************************************
---------NAVIGATION BAR-----------
********************************* */

nav {
  height: auto;
  line-height: 70px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 1.4em;
  border-bottom: 2px solid #303030;
  border-collapse: collapse;
  z-index: 10;
  background-color: #000000;
}

#standingLogo {
  width: 100%;
  height: 70px;
  text-align: center;
}

#standingLogo a {
  width: 100%;
  margin: 0 auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-top: 1px solid #303030;
    border-collapse: collapse;
}

.flex-item {
    height: 70px;
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
    border-collapse: collapse;
    padding: auto;
    margin: 0;
    flex: 1;
    text-align: center;
}

#middleRow .shifters{
    display: none;
}

#inlineLogo {
    width: 0px;
    display: none;
    border: 0;
}

#inlineLogo img {
    display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 5px;
}

img.profile {
  max-width: 100%;
  height: 60px;
  padding: 0px;
  margin: 5px auto;
}

/* *************************************
------------SECTIONS-------------
********************************* */

div.normal {
  padding: 10px 10%;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  color: #d0d0d0;
  text-align: justify;
}

div.normal.designer {
  display: inline-block;
}

div.normal:nth-child(odd) {
  background-color: #100010;

}

div.normal:nth-child(even) {
  background-color: #050015;
}

div#end {
  padding: 10px 40px 30px 40px;
  border-top: 1px solid #303030;
  background-color: black;
  text-align: center;
  color: #d0d0d0;
}

div.large p {
  text-align: center;
  font-size: 20px;
}

h1 {  /* total height = 23 + 1 + 2*13 = 50px */
  font-size: 20px;
  line.height: 23px;
  max-width: 200px;
  border-bottom: 1px solid #555555;
  margin: 13px 0;
}

img.designer {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
}

p {
  text-height: 15px;
}


/* *************************************
-----------ERROR------------
********************************* */
div#error {
  overflow-x: auto;
  /*padding: 20px 20%;*/
}
