/* *************************************
------------GENERAL------------
********************************* */

@font-face {
  font-family: "Poriet";
  src: url("/staticRev/fonts/PoiretOne-Regular.ttf") format("truetype");
}

body {
  background-color: #000000;
  font: 100% "Poriet", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  color: #d0d0d0;
  overflow: none;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}
.flex-item {
  margin: 0;
  flex: 1;
  text-align: center;
}
.flex-item-x2 {
  margin: 0;
  flex: 2;
  text-align: center;
}
.flex-item-x3 {
  margin: 0;
  flex: 3;
  text-align: center;
}


h1 {  /* total height = 23 + 1 + 2*13 = 50px */
  font-size: 1.7em;
  /*line-height: 23px;*/
  max-width: 200px;
  border-bottom: 1px solid #555555;
  margin: 13px 0;
}

h1.center {
  margin: 13px auto;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin: 13px 0 0px;
}

p {
  text-height: 1em;
  margin-top: 10px;
}

p:first-of-type {
  margin-top: 5px;
}

i {
  text-height: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  text-align: center;
}

button.clean {
  background-color: inherit;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 0;
  margin: auto;
}

button.clean:focus {
  outline: 0;
}


/* *************************************
---------NAVIGATION BAR-----------
********************************* */

nav {
  height: auto;
  line-height: 70px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 2px solid #303030;
  border-collapse: collapse;
  z-index: 10;
  background-color: #000000;
}

#standingLogo {
  width: 100%;
  height: 70px;
  text-align: center;
}

#standingLogo a {
  width: 100%;
  margin: 0 auto;
}

#mainNav.flex-container {
    width: 100%;
    border-top: 1px solid #303030;
    border-collapse: collapse;
}

.nav-flex-item {
    height: 70px;
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
    border-top: 1px solid #303030;
    border-collapse: collapse;
    padding: auto;
    margin: 0;
    flex: 1;
    text-align: center;
}

#middleRow .shifters{
    display: none;
}

#inlineLogo {
    width: 0px;
    display: none;
    border: 0;
}

#inlineLogo img {
    display: none;
}

nav a {
  color: #ffffff;
  margin: 0px 5px;
}

nav a:hover {
  color: #CA4560;
}

img.profile {
  max-width: 100%;
  height: 60px;
  padding: 0px;
  margin: 5px auto;
}

/* *************************************
------------GENERAL SECTIONS-------------
********************************* */

div.normal {
  padding: 10px 10%;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  color: #d0d0d0;
  text-align: justify;
}

div.normal.wide {
  padding: 10px 5%;
}

div.banner {
  display: block;
  max-width: 100%;
  padding: none;
}

div.dark {
  background-image: url("/staticRev/images/fab_dark.png");
  /*background-color: #100010;*/

}

div.light {
  background-image: url("/staticRev/images/fab_light.png");
  color: black;
  font-weight: bold;
  /*background-color: #050015;*/
}

div.large p {
  text-align: center;
  font-size: 1.5em;
}

div.full {
  margin: 0;
  padding: 0;
}


/* *************************************
-----------HOME-----------
********************************* */
picture.banner, img.banner {
  width: 100%;
  height: 0;
}

picture.banner img {
  width: 100%;
  vertical-align: middle;
  margin: auto 0;
}

div.normal.designer {
  display: inline-block;
}

/* *************************************
-----------DESIGNERS-----------
********************************* */


#designers.flex-container {
  padding: 2%;
}

.des-flex-item {
  width: 46%;
  margin: auto 2%;
  text-align: center;
  height: 100%;
  vertical-align: middle;
}

.linkHolder {
  height: 100%;
  padding: 10% 0;
}

.des-flex-item a {

}

.des-flex-item a:hover {
  opacity: 0.7;
}

.des-flex-item a img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
  opacity: inherit;
}

.des-flex-item.noBorder a img {
  border: none;
}

/* *************************************
--------------ABOUT-------------
********************************* */

#genialDiv {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

#genialDiv iframe#genial {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* *************************************
-----------CONTACT------------
********************************* */
#contact.flex-container {
    padding: 20px 2%;
    width: 96%;
}

.con-flex-item {
    width: 98%;
    text-align: left;
}

#googleMap {
  width:100%;
  height: 400px;
  border: 1px solid black;
}

.con-row {
  height: 32px;
  margin: 4px 0;
}

.con-row a:hover {
  opacity: 0.7;
}

i.contPage {
  style: inline;
  float: left;
  width: 30px;
  padding: 0 10px;
  text-align: center;
  opacity: inherit;
}

.con-row p {
  text-height: 1.5em;
  line-height: 2em;
  margin: auto auto auto 50px;
  opacity: inherit;
}
.con-row a:hover {
  opacity: 0.7;
}

/* *************************************
--------------PRODUCTS-------------
********************************* */
#products button {
  text-height: 1.2em;
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 5px;
}

#products button:hover {
  color: #CA4560;
}

#products button.Selected {
  background-color: gray;
}

#products div.productBox {
  padding: 30px 0;
  display: none;
}

#products div.productBox.Selected {
  display: -webkit-flex;
  display: flex;
}

#products div.productBox {
  align-items: center;
}


#products div.flex-item.productPhoto {
  min-width: 400px;
  max-width: 500px;
  margin: 30px;
}
#products div.productPhoto img {
  width: 98%;
  height: auto;
  margin: auto;
  vertical-align: middle;
  border: 1px solid black;
}

/* *************************************
--------------FOOTER-------------
********************************* */
div#end {
  padding: 10px 40px 30px 40px;
  border-top: 1px solid #303030;
  background-color: black;
  text-align: center;
  color: #d0d0d0;
}


/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */

/* Colour Icons */
/*foot .single.fa {
  padding: 5px;
  width: 15px;
  margin: 5px 2px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

foot .single.fa-2x {
  padding: 10px;
  width: 32px;
  margin: 5px 4px;
}

foot .colour.fa-facebook {
  background: #3B5998;
  color: white;
}

foot .colour.fa-twitter {
  background: #55ACEE;
  color: white;
}

foot .colour.fa-instagram {
  background: #125688;
  color: white;
} */

foot i {
  color: black;
  opacity: inherit;
}

foot i.fa-circle {
  color: white;
}

foot a.fa-stack:hover {
  opacity: 0.7;
}

foot p:first-of-type {
  margin-top: 20px;
}



/* *************************************
-----------ERROR------------
********************************* */
div#error {
  overflow-x: auto;
  /*padding: 20px 20%;*/
}
